body {
  color: rgb(255, 255, 255);
  background-color: tan;
  margin: 0em;
}
.black-border {
  border: 1px solid black;
  margin: 1em;
}
#green-background {
  background-color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 1em;
}
a:hover {
  color: rgb(64, 145, 165);
  margin: 1em;
}
H1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: royalblue;
  margin: 1em;
}
p {
  margin: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  text-align: center;
}
#footer {
  font-size: 10px;
}
